{% extends "user.html" %}

{% block body %}
    {% from "includes/formhelpers.html" import render_field %}
    <h3>Apply Filter to Search an App:</h3>
    <hr>

    <form method="post">
        {{ render_field(form.ageRestriction, class="form-control") }}
        {{ render_field(form.size, class="form-control") }}
        {{ render_field(form.osVersion, class="form-control") }}
        {{ render_field(form.category, class="form-control") }}
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>
{% endblock %}