{% extends "user.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
    <h3>Following:</h3>
    <hr>

{% if followings %}
    <h4>User</h4>
    <ul class="list-group">
        {% for following in followings %}
        <li class="list-group-item">{{following.account1}}</li>
        <form method="post">
            <td><a href="/message/{{following.account1}}" class="btn btn-info">Send Message</a></td>
        </form>
        
        {% endfor %}
    </ul>
{% else %}
<div class="alert alert-danger">There are no following</div>
{% endif %}

{% endblock %}