{% extends "editor.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
    <h3>Requests:</h3>
    <hr>

{% if requests %}
    <h4>App Name---Request ID---Developer ID---Status---Description</h4>
    <ul class="list-group">
        {% for request in requests %}
        <li class="list-group-item">{{request.app_name}}---{{request.request_id}}---{{request.account_id}}---{{request.request_status}}---{{request.request_description}}</li>
        <form method="post">
            <td><a href="/reject/{{request.request_id}}" class="btn btn-danger">Reject</a></td>
            <td><a href="/approveRestriction/{{request.request_id}}" class="btn btn-info">Approve With Restriction</a></td>
            <td><a href="/directApprove/{{request.request_id}}" class="btn btn-success">Approve Directly</a></td>
        </form>
        
        {% endfor %}
    </ul>
{% else %}
<div class="alert alert-danger">There are no requests</div>
{% endif %}

{% endblock %}