{% extends "developer.html" %}

{% block body %}
    {% from "includes/formhelpers.html" import render_field %}
    <h3>Update An App</h3>
    <hr>

    <form method="post">
        {{ render_field(form.appName, class="form-control", readonly=true) }}
        {{ render_field(form.ageRestriction, class="form-control") }}
        {{ render_field(form.size, class="form-control") }}
        {{ render_field(form.osVersion, class="form-control") }}
        {{ render_field(form.category, class="form-control") }}
        {{ render_field(form.description, class="form-control") }}
        <button type="submit" class="btn btn-primary">Send Update Request</button>
    </form>
{% endblock %}