{% extends "developer.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
    <h3>Applications' Status:</h3>
    <hr>

{% if requests %}
    <h4>App Name---Request ID---Developer ID---Description------------------------------------------Status</h4>
    <ul class="list-group">
        {% for request in requests %}
        <li class="list-group-item">{{request.app_name}}---{{request.request_id}}---{{request.account_id}}---{{request.request_description}}------------------------------------------{{request.request_status}}</li>
        
        {% endfor %}
    </ul>
{% else %}
<div class="alert alert-danger">There are no requests</div>
{% endif %}

{% endblock %}